@{
    ViewData["Title"] = "About";
}

<div class="mainContainer">
    <article id="policy">
        <h1>About Steps</h1>
        <p>Steps is a purely fictional gym that doesn't exist in real life. We have no facilities, no gym memberships and nothing else shown on this site.</p>
        <p>Below is an image of what our membership cards might have looked like if we had been real. Enjoy!</p>
        <img src="~/pictures/membershipCard.png" alt="A fictional membership card" id="memberPic" />
    </article>
</div>