@{
    ViewData["Title"] = "About";
}

<div class="mainContainer">
    <article id="policy">
        <h1>@ViewBag.State</h1>
        <p>@ViewBag.StateMessage</p>
        <a class="btn3" asp-action="Index">&#171; Go back to Start</a>
    </article>
</div>