@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="mainContainer">
    <article id="policy">
        <h1>Privacy Policy</h1>
        <p>Even though we are a fictional site, we still use cookies.</p>
        <p>The cookies we use are purely for functionality on the site and we don't store more than we have to. By continuing to use this site, you agree to these necessary cookies.</p>
        <p>These Privacy Policy rules may change at any time, without notice, and it is up to you to continue to stay updated on them if you continue to use our site.</p>
        <p>Thanks in advance,</p>
        <p>Steps</p>
    </article>
</div>