@{
    ViewData["Title"] = "Our Goals";
}

<div class="mainContainer">
    <article id="policy">
        <h1>Our Goals</h1>
        <p>Here at Steps, our goal is that you reach YOUR goal - whether it is getting fit, losing or gaining weight, or just doing a bit more for your health. We are here for you every step of the way and we hope that you will use our facilities and our tips to accomplish what you want.</p>
        <p>Steps take pride in the fact that our gyms are always up to standard - with the latest equipment, clean facilities and cheap prices. All so that there will be nothing stopping you from getting far.</p>
        <p>And remember, even running on the treadmill will take you forward.</p>
        <p>Best regards,</p>
        <p>Steps</p>
    </article>
    <div id="announcement">
        <h2>Covid19-Update!</h2>
        <p>Our main goal is, and will always be, that you feel safe working out with us. That is why we have taken meassures to make sure we limit the amount of people in the gyms, while not robbing people of their exercise. We have decided to increase our opening hours with two hours each morning, and one hour in the evening, so that you can exercise whenever it suits you, and to spread out our guests' visits. We have stepped up!</p>
        <p>As always, we clean the surfaces of the gym regularly and we also ask you not to come visit us if you are showing symptoms. We know, we'll miss you too! Once you're fully recovered, you are more than welcome to come and use our gyms again.</p>
    </div>
</div>