@{
    ViewData["Title"] = "London | Our gyms";
}

<div class="mainContainer">
    <h1>London</h1>
    <div class="cityPics">
        <div class="cityDivLeft">
            <img src="~/pictures/london.jpg" alt="London" class="cityPic" />
            <h2>Location</h2>
            <p class="desc">North of Themsen, you can find the London Steps at the following address:</p><br />
            <div class="noMarginP">
                <p>8 Eaton Square</p>
                <p>London SW1W 9DB</p>
                <p>Great Britain</p>
            </div>
        </div>
        <div class="cityDivRight">
            <img src="~/pictures/crossfit.jpg" alt="Woman exercising" class="cityPic" />
            <h2>Opening Hours</h2>
            <div class="smallMarginP">
                <p>Monday-Wednesday: 6:30-20:00</p>
                <p>Thursday: 7:00-20:00</p>
                <p>Friday: 7:00-20:00</p>
                <p>Saturday: 6:00-16:00</p>
                <p>Sunday: 9:00-20:00</p>
            </div>
        </div>
    </div>
    <div class="middle">
        <p>"You will thank yourself tomorrow for how well you did today"</p>
    </div>
    <div class="PTs">
        <h2>Personal trainers at Steps London</h2>
        <div class="trainers">
            <div class="trainer">
                <img src="~/pictures/pt5.png" alt="Avatar" class="trainerPic" />
                <h3>Erica</h3>
                <p class="quote">"Pushing myself to the max is what keeps me going"</p>
            </div>
            <div class="trainer">
                <img src="~/pictures/pt8.png" alt="Avatar" class="trainerPic" />
                <h3>Linda</h3>
                <p class="quote">"If you set small goals rather than one big one, I think you're more likely to reach the finish line"</p>
            </div>
            <div class="trainer">
                <img src="~/pictures/pt9.png" alt="Avatar" class="trainerPic" />
                <h3>Josh</h3>
                <p class="quote">"Eat. Sleep. Workout. Repeat!"</p>
            </div>
            <div class="trainer">
                <img src="~/pictures/pt11.png" alt="Avatar" class="trainerPic" />
                <h3>Mia</h3>
                <p class="quote">"When I see my clients improving, I feel in my gut that I picked the right path becoming a PT"</p>
            </div>
        </div>
    </div>
</div>