@{
    ViewData["Title"] = "Oslo | Our gyms";
}

<div class="mainContainer">
    <h1>Oslo</h1>
    <div class="cityPics">
        <div class="cityDivLeft">
            <img src="~/pictures/oslo.jpg" alt="Oslo" class="cityPic" />
            <h2>Location</h2>
            <p class="desc">Right next to Galleri Oslo, just a short walk from the Gronland tube station you can find us at the following address:</p><br />
            <div class="noMarginP">
                <p>Gronland 28</p>
                <p>0188 Oslo</p>
                <p>Norge</p>
            </div>
        </div>
        <div class="cityDivRight">
            <img src="~/pictures/bigDumbbell.jpg" alt="Dumbbell" class="cityPic" />
            <h2>Opening Hours</h2>
            <div class="smallMarginP">
                <p>Monday-Wednesday: 6:30-20:00</p>
                <p>Thursday: 7:00-20:00</p>
                <p>Friday: 7:00-20:00</p>
                <p>Saturday: 6:00-16:00</p>
                <p>Sunday: 9:00-20:00</p>
            </div>
        </div>
    </div>
    <div class="middle">
        <p>"If you never try, you can't succeed"</p>
    </div>
    <div class="PTs">
        <h2>Personal trainers at Steps Oslo</h2>
        <div class="trainers">
            <div class="trainer">
                <img src="~/pictures/pt1.png" alt="Avatar" class="trainerPic" />
                <h3>Line</h3>
                <p class="quote">"I love exercising and eating healthy, but I also think it's okay to take a lazy day every now and then"</p>
            </div>
            <div class="trainer">
                <img src="~/pictures/pt2.png" alt="Avatar" class="trainerPic" />
                <h3>Daniel</h3>
                <p class="quote">"An omelette and a crossfit-session a day keeps the doctor away!"</p>
            </div>
            <div class="trainer">
                <img src="~/pictures/pt7.png" alt="Avatar" class="trainerPic" />
                <h3>Camilla</h3>
                <p class="quote">"I exercise as much as I can, not only for the future but also because it feels so good in the moment"</p>
            </div>
            <div class="trainer">
                <img src="~/pictures/pt10.png" alt="Avatar" class="trainerPic" />
                <h3>Einar</h3>
                <p class="quote">"If you eat healthy 80% of the time, I think it's okay to cheat the remaining 20%"</p>
            </div>
        </div>
    </div>
</div>