@{
    ViewData["Title"] = "Our Gyms | Prices";
}
<img src="~/pictures/training.jpg" alt="Strong woman" id="topPicPrices" />
<div class="mainContainer">
    <article id="prices">
        <h1>Prices</h1>
        <p>We take pride in our affordable prices. Found a better offer? Let us know! Below are our current prices.</p>
        <p>UPDATE: Due to us feeling like 2021 is going to be good, we have decided to cut our prices in HALF for the first 6 months of 2021! Count your steps, not your pennies!</p>
        <h2>Monthly membership at one of our gyms</h2>
        <p class="price"><span class="beforePrice">25£ / Month</span> NOW: 12.50£ / Month</p>
        <h2>Yearly membership - Access to all of our gyms</h2>
        <p class="price"><span class="beforePrice">22£ / Month</span> NOW: 11£ / Month</p>
        <h2>Yearly membership for teenagers (16+), students and seniors</h2>
        <p class="price"><span class="beforePrice">18£ / Month</span> NOW: 9£ / Month</p>
        <h2>One time pass to one of our gyms</h2>
        <p class="price"><span class="beforePrice">8£</span> NOW: 4£</p>
    </article>
</div>