@{
    ViewData["Title"] = "Stockholm | Our gyms";
}

<div class="mainContainer">
    <h1>Stockholm</h1>
    <div class="cityPics">
        <div class="cityDivLeft">
            <img src="~/pictures/stockholm.jpg" alt="Stockholm" class="cityPic" />
            <h2>Location</h2>
            <p class="desc">Right in the center of Stockholm, by Hötorget, you can find Steps Stockholm at the following address:</p><br />
            <div class="noMarginP">
                <p>Kungsgatan 37</p>
                <p>111 56 Stockholm</p>
                <p>Sweden</p>
            </div>
        </div>
        <div class="cityDivRight">
            <img src="~/pictures/dumbbells.jpg" alt="Dumbbells" class="cityPic" />
            <h2>Opening Hours</h2>
            <div class="smallMarginP">
                <p>Monday-Wednesday: 6:30-20:00</p>
                <p>Thursday: 7:00-20:00</p>
                <p>Friday: 7:00-20:00</p>
                <p>Saturday: 6:00-16:00</p>
                <p>Sunday: 9:00-20:00</p>
            </div>
        </div>
    </div>
    <div class="middle">
        <p>"Giving up is not an option"</p>
    </div>
    <div class="PTs">
        <h2>Personal trainers at Steps Stockholm</h2>
        <div class="trainers">
            <div class="trainer">
                <img src="~/pictures/pt3.png" alt="Avatar" class="trainerPic" />
                <h3>Sanna</h3>
                <p class="quote">"Whenever I think about giving up, I push myself even harder"</p>
            </div>
            <div class="trainer">
                <img src="~/pictures/pt4.png" alt="Avatar" class="trainerPic" />
                <h3>Elin</h3>
                <p class="quote">"Steps has made me the fitness-freak I've always wished I was"</p>
            </div>
            <div class="trainer">
                <img src="~/pictures/pt6.png" alt="Avatar" class="trainerPic" />
                <h3>Erik</h3>
                <p class="quote">"My best motivation is looking at how I was yesterday and compare it with how I'm doing today"</p>
            </div>
            <div class="trainer">
                <img src="~/pictures/pt12.png" alt="Avatar" class="trainerPic" />
                <h3>Sofie</h3>
                <p class="quote">"Taking care of myself means keeping on going, but also knowing when to stop"</p>
            </div>
        </div>
    </div>
</div>